#game-creator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#head {


}

#formula {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#send-button {


}

h1 {
    font: normal normal bold 3em Segoe UI;
    color: #707070;
    text-shadow: 2px 2px 2px #3d3d3d ;
    text-align: center;
    text-decoration: #3d3d3d;
    margin: 0.3em;
}

#game-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#details-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
