body {
    margin: 0;
   
}

.container {
    width: 100%;
    height: 100vh;
    background: transparent linear-gradient(180deg, #69D6B1 0%, #23644D 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {

    text-align: center;
    width: 50%;
    
    justify-content: center;
    align-items: center;
                 /* collapse the container's height */
        /* specify any width you want (a percentage value, basically) */
    /* apply a padding using the following formula */
    /* this formula makes sure the aspect ratio of the container equals that of the svg graphic */
    padding-top: (svg height / svg width) * width-value;
    position: relative;    /* create positioning context for svg */
}
.logotyp{
    width: 75%;
}
.login-container {
    width: 50%;
}

form.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60vh;
    background: #FFFFFFE0 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 8px #00000029;
    border: 1px solid #707070;
    border-radius: 52px;
}
form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 40vh;
    background: #FFFFFFE0 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 8px #00000029;
    border: 1px solid #707070;
    border-radius: 52px;
}

button {
    background: transparent linear-gradient(180deg, #68D4AF 0%, #24674F 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 8px #00000029;
    border: 1px solid #707070;
    border-radius: 39px;
    width: 25%;
    color: white;
    margin: 0.5em;
    line-height: 2.5em;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    padding: 1em;
    margin: 0.5em;
    width: 50%;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;

    }

    *
    {
        /*font-size: 36px;*/
    }

    .login-container, .logo {
        width: 100%;
    }
    form {
        margin: auto;
        
    }

    img {
        height: 7em;
        margin: 2em;
    }
}

@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }
    .logotyp {
        width: 100%;
        padding: 20px;
    }
    .logo {width: 80%}
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100vh;
}

nav {
    width: 17%;
    height: 100%;
    background: transparent linear-gradient(180deg, #67D3AF 0%, #24674F 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    left: 0;
    top: 0;
}




nav > img {
    width: 80%;
    margin: 2em auto;

}


#left-bar {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;

}

 #logout {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
     background-color: #D97878;

}



li i {
    font-size: 1.5em;
}

.button {
    border: 2px solid #FFFFFF;
    border-radius: 1em;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: white;
    padding: 0.2em;
    width: 60%;
}

ul {
    list-style-type: none;
    color: white;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    height: 100%;
    margin: 0 auto;
    padding: 0%;
    width: calc(100% - 40px);
    position: relative;
}

li {
    text-align: left;
    margin-bottom: 1em;
}

li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fa, .fas {
    font-weight: 900;
    width: 1em;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 83%;

}

header {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 1em 2em;
    border-bottom: 1px solid grey;
    position: sticky;
    top: 0;

}

.scrim-adder {
    background: #5BC09EDB 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 1.5em;
    opacity: 1;
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
    width: 20%;
}

.scrim-adder > i {
    padding: 1em;
}
.search-bar {
    width: 70%;

}

.search-bar > input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 26px;
    width: 100%;
    text-align: center;
    color: grey;
    margin: 0;
    box-sizing: border-box;

}


.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

body {
    font: normal normal normal 20px/27px Segoe UI;
}

#sett-box {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    padding: 1vh 10px;
}

#sett-box > p {
    margin: auto 30px;
}

#user-info > a {
    align-self: center;
    background-color: #D97878;
    margin-bottom: 2vh;
}