.teams {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;

}
.team-logo {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}
.teams > i > div > img {
    height: 50%;
    width: 100%;
    /*object-fit: cover;*/
    border-radius: 1em 1em 0 0;
}

.teams > i  > div > div {
    height: 50%;
    color: #3d3d3d;
    /*margin: 1em;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.teams > i > div {
    border: 4px solid #67D3AF;
    border-radius: 1em 1em 0 0;

    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.team-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

team.team-form > form {
    display: flex;
    flex-direction: column;
}

.team-link {
    text-decoration: none;
}



.team {
    display: grid;
    /*grid-template-columns: repeat(1, 1fr);*/
    grid-gap: 2em;
    padding: 2em;

}


#team-1{
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 350px;
    background: #FFFFFFE0 0% 0% no-repeat padding-box;
    box-shadow: 0px 2vh 2vh #00000029;
    border: 1px solid #707070;
    border-radius: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

#left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*width: 30%;*/

}
#right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;

}
#user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent linear-gradient(180deg, #69D6B1 0%, #23644D 100%) 0% 0% no-repeat padding-box;
    width: 50%;
    color: white;
    border: 1px solid #3d3d3d ;
    opacity: 70%;
    margin: 3vh auto;

}

 #logo{
    height: 100%;
    margin: 1vh;
    /*object-fit: cover;*/
     border: 1px solid #707070;
     width: 40%;
     border-radius: 2vh;
     align-self: center;
}



#left-side > h1 {
    font: normal normal bold 3em Segoe UI;
    color: #707070;
    text-shadow: 2px 2px 2px #3d3d3d ;
    text-align: center;
    text-decoration: #3d3d3d;
    margin: 0.3em;
}

#additional-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#add-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

#add-info > h2 {
    margin: 1vh 2vh;
    font-size: 2em;
}

#add-info > p {
    margin: 1vh 2vh;
    font-size: 2em;
}

#players-tag{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#players-tag > h2 {
    margin: 1vh 2vh;
    font-size: 2em;
}
#players {

    border: none;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

#players > p {
    text-align: center;
}

#history{
    display: flex;
    flex-direction: row;
    justify-content: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#search-history{

   align-self: center;
    margin: 1vh;
}

#history-text > h1 {
    text-align: center;
}

#matches {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#match-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1vh 0;
}

.teams-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    background: #72C9AB33 0% 0% no-repeat padding-box;
    border: 2px solid #23644D;
    padding: 1vh;
}

#allies-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42%;


}

#allies-info > h1 {
    font: normal normal bold 40px/40px Arial;
    letter-spacing: 0px;
    color: #72C9AB;
    text-shadow: 0px 6px 6px #72C9AB8C;
    margin-right: 2vh;
    text-align: center

}

#enemies-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42%;

}

#enemies-info > h1 {
    text-align: left;
    font: normal normal bold 40px/40px Arial;
    letter-spacing: 0px;
    color: #D97878;
    text-shadow: 0px 6px 6px #C972725C;
    margin-left: 2vh;
    text-align: center
}

#champions-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border: 1px solid black;
    padding: 1vh 2vh;
}

#champ1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#champ1 > p {
    margin: 5px 0;
}

#stats > p {
    margin: 5px 0;
}

a{
    text-decoration: none;
    color: white;
}
#match-history-button{

    align-self: center;
    /*display: inline-block;*/
    width: 50%;
    text-align: center;
    /*height: 36px*/
}
#match-history-button > a {
    align-self: center;
}

.history-viewer {
    background: #5BC09EDB 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 1.5em;
    opacity: 1;
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
    width: 50%;
    height: 36px;
    display: inline-block;
    text-decoration: none;
}

#users-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-device-width: 600px){

    li > #left-bar {
        display: none;
    }

    #players-tag {
        margin-top: 4vh;
    }
}

@media only screen and (max-device-width: 600px){

    .teams {
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
        height: auto;
        margin-left: 80px;
        overflow: hidden;
    }
    nav {
        width: 14%;
    }

    li > .button {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-device-width: 600px){

    #team-1 {
        flex-direction: column;
        height: auto;
    }
    #right-side{
        width: 100%;
    }
    .teams > i > div > img {
        width: auto;
    }
    .teams > i > div > div {
        flex-direction: row;
    }
}

#sett-box > p {
    color: white;
    text-shadow: 0px 6px 6px #C972725C;
}
#sett-box > h1 {
    color: #FFFFFF;
    text-shadow: 0px 6px 6px #C972725C;
}
/*@media only screen and (max-device-width: 900px){*/

/*    .teams {*/
/*        grid-template-columns: repeat(3, 1fr);*/
/*    }*/
/*}*/